<div class="whole_page">
  <div class="title_block">
    <h1>Ask me everything</h1>
    <p>Hurry up, just below:</p>
  </div>

  <div class="second_part">
    <form action="/answer" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input class="boxes" type="text" name="question">
      <input class="boxes button" type="submit" value="Ask!">
    </form>
  </div>
</div>
