.whole_page{
  padding: 20px;
  text-align: center;
}

.title_block{
  background-color: #EFEFEF;
  padding: 20px;
}

.second_part{
  margin-top: 20px;
}

.answer_block{

}

.boxes{
  border-radius: 5px;

}

.button:hover{
  opacity: 0.7;
}
